<%- include('layout/header') %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col col-4">
                <div class="row justify-content-center">
                    Wallah!! <br>
                    Hello from homepage
                </div>
            </div>
        </div>
    </div>


    <%- include('layout/footer') %>